**/.vscode/
**/.env
**/venv/
**/*.log

**/mongo_data/
**/mysql_data/
**/*-mysql-data/
**/*-mongo-data/
**/redis_data/

**/__pycache__/
memory-bank/**


**/bin/
**/obj/
**/[Dd]ebug/
**/[Rr]elease/
**/net*.*/
**/logs/