# Данные для создания и подключения к базам данных
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=mongo_root_password
MYSQL_ROOT_PASSWORD=mysql_root_password
MYSQL_DATABASE=your_database_name
MYSQL_USER=mysql_user
MYSQL_PASSWORD=mysql_password

# OIDC конфигурация
OIDC_ISSUER_URL=http://auth-service:8080

# URL'ы сервисов
AUTH_SERVICE_URL=http://auth-service:8080
USERS_SERVICE_URL=http://users-service:8080
CAMPAIGN_SERVICE_URL=http://campaign-service:8080

# Пути к ключам RSA
PRIVATE_KEY_PATH=/certs/private.pem
PUBLIC_KEY_PATH=/certs/public.pem

# Инфраструктура
REDIS_CONNECTION_STRING=redis:6379
ASPNETCORE_URLS=http://0.0.0.0:8080;http://0.0.0.0:8081

# Gateway
OIDC_ISSUER=http://auth-service:8080

# Campaign
MONGO_SCHEMAS_DATABASE=tdn-schemas

