.sidebar {
  width: 100px;
  height: 100dvh;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  padding: 16px 0;

  gap: 10px;

  background-color: #3a3f4b;
}

.sidebar-bottomItems,
.sidebar-topItems {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 48px;
    min-width: 48px;
  }
}
