.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100dvw;
  min-height: 100dvh;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #282c34;
}

.app {
  text-align: center;
}
