.errorPage-container {
    display: flex;
    background-color: #282c34;
    align-items: center;

    justify-content: center;
    gap: 100px;

    height: 100vh;
    width: 100wh;

    color: white;
}

.error-picture {
    height: auto;
    width: 30vh;

    border-radius: 16px;
}
