.errorPage-container {
  display: flex;
  background-color: #282c34;
  align-items: center;

  justify-content: center;
  gap: 100px;

  height: 100vh;
  width: 100wh;

  color: white;
}

.error-picture {
  height: auto;
  width: 30vh;

  border-radius: 16px;
}

.errorPage-link {
  text-decoration: underline;
  color: hsla(230, 30%, 85%, 1);
  cursor: pointer;
}

.errorPage-link:hover {
  opacity: 0.8;
}
