.note {
  display: flex;
  flex-direction: column;

  padding: 10px;
  padding-top: 24px;
  flex: 1 1;

  overflow: auto;
  height: 100dvh;
}

.note-headerBox {
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-direction: row;

  gap: 10px;

  overflow: hidden;
}

.note-headerTitle {
  text-align: center;
  font-weight: 500;
  word-break: break-word;

  display: flex;
  overflow: hidden;
  flex: 2;
}

.note-headerActions {
  display: flex;
  justify-content: end;
  gap: 6px;

  flex: 1 72px;
  overflow: hidden;
}

.note-headerActions .iconButton {
  min-width: 36px;
  max-width: 64px;

  margin-top: auto;
}

.note-author {
  margin-top: auto;
  height: 4em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 7px;
}

.note-author img {
  border-radius: 50%;

  max-height: 60px;
}

.note-body {
  font-size: calc(10px + 1.5vmin);
  margin: 0 0;
  flex: 1;

  gap: 10px;

  display: flex;
  flex-direction: column;
}

.note-multiLineText {
  resize: none;

  display: flex;
  flex: auto;
}

.note-multiLineText__readOnly {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: transparent;

  color: inherit;
  font: inherit;
}

.note-editModeButtons {
  display: flex;
  align-items: end;
  justify-content: end;
  gap: 1em;
}

@media screen and (max-width: 768px) {
  .note {
    width: 100%;
  }

  .note-author img {
    height: 48px;
  }
}
