.note {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  height: 100dvh;
  padding: 10px;
  padding-top: 24px;
  overflow: auto;
}

.note-headerBox {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: end;
  justify-content: space-between;
  overflow: hidden;
}

.note-headerTitle {
  display: flex;
  flex: 2;
  overflow: hidden;
  font-weight: 500;
  text-align: center;
  word-break: break-word;
}

.note-headerActions {
  display: flex;
  flex: 1 72px;
  gap: 6px;
  justify-content: end;
  overflow: hidden;
}

.note-headerActions .iconButton {
  min-width: 36px;
  max-width: 64px;
  margin-top: auto;
}

.note-author {
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: flex-end;
  height: 4em;
  margin-top: auto;
}

.note-author img {
  max-height: 60px;
  border-radius: 50%;
}

.note-body {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  font-size: calc(10px + 1.5vmin);
}

.note-multiLineText {
  display: flex;
  flex: auto;
  resize: none;
}

.note-multiLineText__readOnly {
  overflow: auto;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
}

.note-editModeButtons {
  display: flex;
  gap: 1em;
  align-items: end;
  justify-content: end;
}

@media screen and (width <= 768px) {
  .note {
    width: 100%;
  }

  .note-author img {
    height: 48px;
  }
}
